<p style="color: green"><%= notice %></p>

<section class="antialiased bg-gray-100 text-gray-600 h-screen px-4">
  <div class="flex flex-col justify-start h-full">
    <!-- Table -->
      <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
        <header class="px-5 py-4 border-b border-gray-100">
          <div class="flex justify-between ">
            <h2 class="font-semibold text-gray-800">Companies:</h2>
            <%= link_to "New company", new_admin_company_path, class: "group relative  justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          </div>
        </header>
          <div class="p-3">
            <div class="overflow-xauto">
              <table class="table-auto w-full">
                <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                  <tr>
                    <th class="p-2 whitespace-nowrap font-semibold text-left">ID</th>
                    <th class="p-2 whitespace-nowrap font-semibold text-left">Name</th>
                    <th class="p-2 whitespace-nowrap font-semibold text-center">Action</th>
                  </tr>
                </thead>

                <tbody class="text-sm divide-y divide-gray-100">
                  <% @companies.each do |company| %>
                    <tr>
                      <td class="p-2 whitespace-nowrap font-medium text-gray-800"><%= company.id %></td>
                      <td class="p-2 whitespace-nowrap text-left"><%= company.name %></td>
                      <td class="p-2 whitespace-nowrap text-lg text-center">
                        <div class="flex justify-center">
                          <%= link_to "Edit", edit_admin_company_path(company), class: "group relative  justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %> |
                          <%= button_to "Destroy", [:admin, company], method: :delete, class: "group relative  justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
      </div>
  </div>
</section>