<p style="color: green"><%= notice %></p>

<%= render @compani %>

<div>
  <%= link_to "Edit this compani", edit_admin_compani_path(@compani) %> |
  <%= link_to "Back to companis", admin_companis_path %>

  <%= button_to "Destroy this compani", [:admin, @compani], method: :delete %>
</div>
