<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">

    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name)) do |f| %>
     <%= render "devise/shared/error_messages", resource: resource %>
     <%= f.hidden_field :invitation_token, readonly: true %>
    
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">

        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Email address" %>
        </div>

        <div>
          <%= f.label :first_name, class: "sr-only" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", required: true, class: "relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "First Name" %>
        </div>

        <div>
          <%= f.label :last_name, class: "sr-only" %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", required: true, class: "relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Last Name" %>
        </div>

        <div>
          <%= f.label :company_id, class: "sr-only" %>
          <%= f.collection_select :company_id, Company.order(:name), :id, :name, { include_blank: true }, class: "relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        </div>

        <% if f.object.class.require_password_on_accepting %>
          <div>
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, autocomplete: "new-password", required: true, class: "relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Password" %>
          </div>

          <div>
            <%= f.label :password_confirmation, class: "sr-only" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm", placeholder: "Password" %>
          </div>
        <% end %>
      </div>


      <div class="mt-4">
            <%= f.submit "Set my password", class: "group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      </div>
    <% end %>
  </div>
</div>
