<!DOCTYPE html>
<html>
  <head>
    <title>Navigator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!--devise-->
      <% if user_signed_in? %>
        <%= button_to "Вихід", destroy_user_session_path, method: :delete %>
        <%= link_to "Редагувати", edit_user_registration_path %>
      <% else %>
          <%= link_to "Вхід", user_session_path %>
          <%= link_to "Реєстрація", new_user_registration_path %>
      <% end %>
    <!--devise-->

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
